---
import Layout from '../layouts/Layout.astro'
import HeroSection from '../components/vue/HeroSection.vue'
import MyPortfolio from '../components/vue/MyPortfolio.vue'
import MyServices from '../components/vue/MyServices.vue'
import Contact from '../components/Contact.astro'
import TheFooter from '../components/vue/TheFooter.vue'
---

<Layout
  title="Lucas Ribeiro"
  description={'Olá eu sou Lucas! programador web dedicado a fornecer soluções de desenvolvimento web personalizadas para clientes em todo o mundo. Com habilidades em diversas tecnologias de programação, como HTML, CSS, JavaScript, e frameworks como React, Vue.js sou capaz de criar soluções sob medida para atender às suas necessidades específicas de negócios.'}
>
  <main>
    <HeroSection client:only />
    <MyServices />
    <MyPortfolio client:only />
    <Contact />
    <TheFooter />
  </main>
</Layout>
