---
import Layout from '../layouts/Layout.astro'
import HeroSection from '../components/vue/HeroSection.vue'
import MyPortfolio from '../components/vue/MyPortfolio.vue'
import MyServices from '../components/vue/MyServices.vue'
import Contact from '../components/Contact.astro'
import TheFooter from '../components/vue/TheFooter.vue'
---

<Layout title="Lucas Ribeiro">
  <main>
    <HeroSection client:only />
    <MyServices />
    <MyPortfolio client:only />
    <Contact />
    <TheFooter />
  </main>
</Layout>
