---
import Layout from '../layouts/Layout.astro'
import HeroSection from '../components/vue/HeroSection.vue'
import MyPortifolio from '../components/vue/MyPortifolio.vue'
import MyServices from '../components/vue/MyServices.vue'
import Contact from '../components/Contact.astro'
import TheFooter from '../components/vue/TheFooter.vue'
---

<Layout title="Lucas Ribeiro - Welcome to my site.">
  <main>
    <HeroSection client:only />
    <MyServices />
    <MyPortifolio />
    <Contact />
    <TheFooter />
  </main>
</Layout>

<style>
  .circle {
    filter: blur(200px);
  }
</style>
