---
import Layout from '../layouts/Layout.astro'
import HeroSection from '../components/vue/HeroSection.vue'
import MyPortifolio from '../components/vue/MyPortifolio.vue'
import MyServices from '../components/vue/MyServices.vue'
import MyTimeline from '../components/MyTimeline.astro'
import CTA from '../components/CTA.astro'
import TheFooter from '../components/TheFooter.astro'
---

<Layout title="Lucas Ribeiro - Welcome to my site.">
  <main>
    <HeroSection client:only />
    <MyServices />
    <MyPortifolio />
    <MyTimeline />
    <CTA />
    <TheFooter />
  </main>
</Layout>

<style>
  .circle {
    filter: blur(200px);
  }
</style>
