---
import Layout from '../layouts/Layout.astro'
---

<Layout title="Welcome to Astro.">
  <main class="flex items-center justify-center">
    <h1 class="font-montserrat text-3xl group">
      Hello World! I'm
      <span
        class="font-bold text-transparent bg-clip-text bg-gradient-to-br from-green-500 to-purple-600"
      >
        Lucas
      </span>.
    </h1>
  </main>
</Layout>

<style>
  main {
    width: 100%;
    height: 100vh;
  }
</style>
