<section id="contact" class="container mx-auto my-16 p-2">
  <section class="relative" aria-labelledby="join-heading">
    <div class="absolute inset-x-0 hidden h-1/2 lg:block" aria-hidden="true">
    </div>
    <div class="mx-auto max-w-7xl lg:px-8">
      <div class="lg:grid lg:grid-cols-12">
        <div
          class="relative z-10 lg:col-span-4 lg:col-start-1 lg:row-start-1 lg:bg-transparent lg:py-16"
        >
          <div class="absolute inset-x-0 h-1/2 lg:hidden" aria-hidden="true">
          </div>
          <div
            class="mx-auto max-w-md px-4 sm:max-w-3xl sm:px-6 lg:max-w-none lg:p-0"
          >
            <div
              class="aspect-w-10 aspect-h-6 sm:aspect-w-2 sm:aspect-h-1 lg:aspect-w-1"
            >
              <img
                class="rounded-3xl object-cover object-top lg:object-center shadow-2xl"
                src="images/lucas2.png"
                alt=""
              />
            </div>
          </div>
        </div>

        <div
          class="relative -mt-12 pt-12 rounded-xl lg:m-0 bg-gradient-to-r from-lksYellow to-lksGreen bg-clip-padding backdrop-filter backdrop-blur-md bg-opacity-50 lg:col-span-10 lg:col-start-3 lg:row-start-1 lg:grid lg:grid-cols-10 lg:items-center lg:rounded-3xl"
        >
          <div
            class="relative mx-auto max-w-md space-y-6 py-12 px-4 sm:max-w-3xl sm:py-16 sm:px-6 lg:col-span-6 lg:col-start-4 lg:max-w-none lg:p-0"
          >
            <h2
              class="text-3xl font-bold font-orbitron tracking-tight"
              id="join-heading"
            >
              Vamos criar algo juntos!
            </h2>
            <p class="text-lg text-white">
              Varius facilisi mauris sed sit. Non sed et duis dui leo, vulputate
              id malesuada non. Cras aliquet purus dui laoreet diam sed lacus,
              fames.
            </p>
            <a
              class="block w-full rounded-md bg-gradient-to-r from-seance-500 to-haiti-500 py-3 px-5 text-center text-base font-medium shadow-md hover:shadow-lg hover:shadow-haiti-500/90 duration-300 sm:inline-block sm:w-auto"
              href="#">Entre em contato!</a
            >
          </div>
        </div>
      </div>
    </div>
  </section>
</section>
