<section class="flex items-center justify-center text-center">
  <div>
    Trabalhando por dinheiro,<br />
    desenvolvendo por amor!<br />
    Eu sou <span
      class="font-bold text-transparent bg-clip-text bg-gradient-to-r from-[#a7c735] via-[#81c846] to-[#a7c735]"
      >Lucas</span
    >, um desenvolvedor web...
  </div>
  <div></div>
  <div></div>
</section>
