<section>
  <ul>
    <li>
      <img src="" alt="" />
      <span></span>
    </li>
    <li>
      <img src="" alt="" />
      <span></span>
    </li>
    <li>
      <img src="" alt="" />
      <span></span>
    </li>
  </ul>
</section>
