<section
  class="my-16 flex flex-col text-center gap-8 justify-center items-center"
>
  <h2>Meu cinto de utilidades</h2>
  <article class="glass bg-white bg-opacity-5 w-[1080px] h-[500px]">
    alguma coisa aqui
  </article>
</section>

<style>
  .glass {
    /* background: linear-gradient(40deg, #5a21b64d 0%, #02052a4d 100%); */
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
  }
</style>
