---
import Icon from 'astro-icon'
---

<footer class="container mx-auto py-8">
  <section class="flex flex-col items-center justify-center">
    <span> LOGO</span>
    <ul>
      <li><a href=""></a></li>
    </ul>
    <ul>
      <li><a href=""><Icon name="" /></a></li>
    </ul>
    <p class="flex items-center justify-center gap-2">
      <span class="text-2xl">&copy;</span> todos os direitos reservados
    </p><a href="https://lucasribeiro.dev.br">lucasribeiro.dev.br</a>
    <p><span>👾</span> Hello World! I'm online!</p>
  </section>
</footer>
