<section
  class="glass bg-black bg-opacity-50 felx flex-col items-center justify-between my-28 p-4 shadow-lg"
>
  <div class="flex gap-11">
    <div class="flex flex-col">
      <span class="text-xl">Contribuições</span>
      <span
        class="text-2xl font-bold text-transparent bg-clip-text bg-gradient-to-r from-swapGreen-200 to-swapGreen-40"
        >1,299</span
      >
    </div>
    <div class="flex flex-col">
      <span class="text-xl">Projetos</span>
      <span
        class="text-2xl font-bold text-transparent bg-clip-text bg-gradient-to-r from-swapGreen-200 to-swapGreen-40"
        >41</span
      >
    </div>
  </div>
  <div></div>
</section>

<style scoped>
  .glass {
    /* background: linear-gradient(40deg, #1c02474d 0%, #02052a4d 100%); */
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(200px);
    -webkit-backdrop-filter: blur(20px);
  }
</style>
