---
import Icon from 'astro-icon'
---

<section>
  <section>
    <picture> </picture>
  </section>
  <section>
    <div>
      <span>00:</span>
      <span>00:</span>
      <span>00</span>
    </div>
    <Icon name="clock" />
  </section>
</section>
